.sofson__promotions_slider {
    flex: 1;
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 0 0.25rem;
}

.sofson__promotions_slider-container {
    display: flex;
}

.sofson__promotions_slider-container img {
    width: 100%;
}